<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="restaurant">
      <h2 data-cy="restaurantDetailsHeading"><span jhiTranslate="coopcycleApp.restaurant.detail.title">Restaurant</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ restaurant.id }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.restaurant.nom">Nom</span></dt>
        <dd>
          <span>{{ restaurant.nom }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.restaurant.description">Description</span></dt>
        <dd>
          <span>{{ restaurant.description }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.restaurant.tags">Tags</span></dt>
        <dd>
          <span>{{ restaurant.tags }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.restaurant.adresse">Adresse</span></dt>
        <dd>
          <span>{{ restaurant.adresse }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.restaurant.fraisLivraison">Frais Livraison</span></dt>
        <dd>
          <span>{{ restaurant.fraisLivraison }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.restaurant.heureOUverture">Heure O Uverture</span></dt>
        <dd>
          <span>{{ restaurant.heureOUverture }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.restaurant.heureFermeture">Heure Fermeture</span></dt>
        <dd>
          <span>{{ restaurant.heureFermeture }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.restaurant.evaluation">Evaluation</span></dt>
        <dd>
          <span>{{ restaurant.evaluation }}</span>
        </dd>
        <dt><span jhiTranslate="coopcycleApp.restaurant.restaurateur">Restaurateur</span></dt>
        <dd>
          <div *ngIf="restaurant.restaurateur">
            <a [routerLink]="['/restaurateur', restaurant.restaurateur?.id, 'view']">{{ restaurant.restaurateur?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/restaurant', restaurant.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
