<div>
  <h2 id="page-heading" data-cy="PanierHeading">
    <span jhiTranslate="coopcycleApp.panier.home.title">Paniers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopcycleApp.panier.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-panier"
        [routerLink]="['/panier/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopcycleApp.panier.home.createLabel"> Create a new Panier </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="paniers?.length === 0">
    <span jhiTranslate="coopcycleApp.panier.home.notFound">No paniers found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="paniers && paniers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateCommande">
            <span jhiTranslate="coopcycleApp.panier.dateCommande">Date Commande</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="adresseLivraison">
            <span jhiTranslate="coopcycleApp.panier.adresseLivraison">Adresse Livraison</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="fraisService">
            <span jhiTranslate="coopcycleApp.panier.fraisService">Frais Service</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="netAPayer">
            <span jhiTranslate="coopcycleApp.panier.netAPayer">Net A Payer</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="state"><span jhiTranslate="coopcycleApp.panier.state">State</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="datePaiement">
            <span jhiTranslate="coopcycleApp.panier.datePaiement">Date Paiement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="methodePaiement">
            <span jhiTranslate="coopcycleApp.panier.methodePaiement">Methode Paiement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="client.id">
            <span jhiTranslate="coopcycleApp.panier.client">Client</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="livreur.id">
            <span jhiTranslate="coopcycleApp.panier.livreur">Livreur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let panier of paniers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/panier', panier.id, 'view']">{{ panier.id }}</a>
          </td>
          <td>{{ panier.dateCommande | formatMediumDatetime }}</td>
          <td>{{ panier.adresseLivraison }}</td>
          <td>{{ panier.fraisService }}</td>
          <td>{{ panier.netAPayer }}</td>
          <td jhiTranslate="{{ 'coopcycleApp.State.' + panier.state }}">{{ panier.state }}</td>
          <td>{{ panier.datePaiement | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'coopcycleApp.PaymentMethod.' + panier.methodePaiement }}">{{ panier.methodePaiement }}</td>
          <td>
            <div *ngIf="panier.client">
              <a [routerLink]="['/client', panier.client?.id, 'view']">{{ panier.client?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="panier.livreur">
              <a [routerLink]="['/livreur', panier.livreur?.id, 'view']">{{ panier.livreur?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/panier', panier.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/panier', panier.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(panier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="paniers && paniers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
