<div>
  <h2 id="page-heading" data-cy="LivreurHeading">
    <span jhiTranslate="coopcycleApp.livreur.home.title">Livreurs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coopcycleApp.livreur.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-livreur"
        [routerLink]="['/livreur/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coopcycleApp.livreur.home.createLabel"> Create a new Livreur </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="livreurs?.length === 0">
    <span jhiTranslate="coopcycleApp.livreur.home.notFound">No livreurs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="livreurs && livreurs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="prenom">
            <span jhiTranslate="coopcycleApp.livreur.prenom">Prenom</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nom"><span jhiTranslate="coopcycleApp.livreur.nom">Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="email">
            <span jhiTranslate="coopcycleApp.livreur.email">Email</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="phoneNumber">
            <span jhiTranslate="coopcycleApp.livreur.phoneNumber">Phone Number</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="commissions">
            <span jhiTranslate="coopcycleApp.livreur.commissions">Commissions</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="evaluation">
            <span jhiTranslate="coopcycleApp.livreur.evaluation">Evaluation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="estDG">
            <span jhiTranslate="coopcycleApp.livreur.estDG">Est DG</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="estMenbreCA">
            <span jhiTranslate="coopcycleApp.livreur.estMenbreCA">Est Menbre CA</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cooperative.id">
            <span jhiTranslate="coopcycleApp.livreur.cooperative">Cooperative</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livreur of livreurs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/livreur', livreur.id, 'view']">{{ livreur.id }}</a>
          </td>
          <td>{{ livreur.prenom }}</td>
          <td>{{ livreur.nom }}</td>
          <td>{{ livreur.email }}</td>
          <td>{{ livreur.phoneNumber }}</td>
          <td>{{ livreur.commissions }}</td>
          <td>{{ livreur.evaluation }}</td>
          <td>{{ livreur.estDG }}</td>
          <td>{{ livreur.estMenbreCA }}</td>
          <td>
            <div *ngIf="livreur.cooperative">
              <a [routerLink]="['/cooperative', livreur.cooperative?.id, 'view']">{{ livreur.cooperative?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/livreur', livreur.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/livreur', livreur.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(livreur)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="livreurs && livreurs.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
