<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-cooperative-heading"
        data-cy="CooperativeCreateUpdateHeading"
        jhiTranslate="coopcycleApp.cooperative.home.createOrEditLabel"
      >
        Create or edit a Cooperative
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcycleApp.cooperative.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
          <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcycleApp.cooperative.localisation" for="field_localisation">Localisation</label>
          <input
            type="text"
            class="form-control"
            name="localisation"
            id="field_localisation"
            data-cy="localisation"
            formControlName="localisation"
          />
          <div
            *ngIf="editForm.get('localisation')!.invalid && (editForm.get('localisation')!.dirty || editForm.get('localisation')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('localisation')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coopcycleApp.cooperative.nbAdherents" for="field_nbAdherents">Nb Adherents</label>
          <input
            type="number"
            class="form-control"
            name="nbAdherents"
            id="field_nbAdherents"
            data-cy="nbAdherents"
            formControlName="nbAdherents"
          />
          <div *ngIf="editForm.get('nbAdherents')!.invalid && (editForm.get('nbAdherents')!.dirty || editForm.get('nbAdherents')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nbAdherents')?.errors?.min"
              jhiTranslate="entity.validation.min"
              [translateValues]="{ min: 0 }"
            >
              This field should be at least 0.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('nbAdherents')?.errors?.number"
              jhiTranslate="entity.validation.number"
            >
              This field should be a number.
            </small>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
